*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #1b1b1b;
    height: 100vh;
    width: 100vw;
}

#container {
    min-width: 260px;
    min-height: 310px;
    width: 300px;
    height: 500px;
    max-width: 500px;
    max-height: 800px;
    background-color: #000;
    border: 25px solid #fff;
    border-radius: 20px;
}

form{
    justify-content: space-around !important;
    height: 33vh;
}

input{
    padding: 5px 10px;
    margin: 5px 0;
}

button{
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#follow {
    width: 40px;
    height: 40px;
    background-image: url('assets/formula.png');
    background-size: contain;
    position: relative;
    margin-bottom: -35px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    z-index: 2;
    animation: follow 5s infinite;
}

#linha{
    width: 10px;
    height: 25px;
    background-color: #000;
    position: relative;
    margin-bottom: -30px;
}

#linha::before, #linha::after{
    margin-top: 3px;
    display: flex;
    content: '';
    width: 10px;
    height: 6px;
    background-color: #fff;
}

#linha::after{
    margin-top: 7px;
}

#dashboard{
    width: 300px;
    height: 500px;
    padding: 20px;
    justify-content: space-around;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

#container-calendario{
    height: 280px;
    width: 280px;
    border: 2px solid #fff;
}

.center span{
    margin-bottom: 20px;
}

.center div button{
    margin: 10px 20px;
}

.fds{
    background-color: green;
}

th, td{
    text-align: center;
    border: 1px solid #fff;
}

th{
    background-color: rgb(104, 0, 0);
    color: #fff;
    padding: 2px;
}

.today {
    background-color: purple;
}

#info {
    position: absolute;
    width: 200px;
    height: auto;
    border: 1px solid #fff;
    margin-left: 25vh;
    margin-top: -21vh;
    text-align: justify;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
}

#lampada{
    animation: lampada 2s infinite;
}

#regAuto {
    height: 20vh;
    margin-bottom: 20px;
}

#formData label {
    display: flex;
    flex-direction: column;
}
#formData label span{
    margin-bottom: 0;
    text-align: center;
}

.container-botoes{
    display: flex;
}
@keyframes follow {
    0%{
        transform: translate(0) rotate(180deg);
    }

    20%{
        transform: translate(-130px, 0) rotate(180deg);
    }

    28%{
        transform: translate(-135px, 0) rotate(90deg);
    }

    40%{
        transform: translate(-135px, 465px) rotate(90deg);
    }

    45%{
        transform: translate(-135px, 475px);
    }

    58%{
        transform: translate(135px, 475px);
    }

    60% {
        transform: translate(135px, 475px) rotate(-90deg);
    }

    78%{
        transform: translate(135px, 5px) rotate(-90deg);
    }

    80%{
        transform: translate(135px, 0) rotate(180deg);
    }

    100%{
        transform: translate(0)  rotate(180deg);
    }

}

@keyframes lampada {
    0%{
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.0);
    }

    100%{
        transform: scale(0.8);
    }
}
