#cadastro {
    width: 60vw;
    height: 80vh;
    color: rgb(138, 43, 226);
}

div .setas {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: sans-serif;
    color: #fff;
    cursor: pointer;
}

#label-admin {
    display: flex;
    align-items: center;
    margin-top: 15px;
}